body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main-content {
    display: flex;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    float: left;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    width: 60%;
    max-width: 700px;
    padding: 10px;
}

.contact-form {
    background: #fff;
    margin-top: 4rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(58, 23, 114);
    width: 100%;
    flex: 1 1 300px;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 5px;
    text-align: left;
    box-sizing: border-box;

}

.main-content h3 {
    color: rgb(58, 23, 114);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.privacycheckbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    float: inline-start;
}

.privacycheckbox label {
    margin-left: 5px;
    font-size: 10px;
}

.contact-form button {
    background-color: rgb(58, 23, 114);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.mappaeinfo {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 600px;
}

.mappaeinfo h3 {
    margin-top: 1px;
}

.mappa {
    margin-top: 4rem;
    margin-left: 1rem;
    width: 80%;
    margin-bottom: 5px;
}

.infocontatto {
    margin-top: 20px;
    margin-left: 1rem;
    text-align: left;
    width: 100%;
}

@media (max-width: 768px) {
    .main-content {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    .contact-form,
    .mappaeinfo {
        width: 100%;
        max-width: 600px;
    }

    .infocontatto {
        text-align: left;
    }
}

@media (max-width:430px) {
    .main-content {
        max-width: 400px;
        flex-direction: column;
        align-items: center;

    }

    .mappa {
        width: 50%;
        max-width: 300px;

    }

    .infocontatto {
        text-align: left;
    }
}